
# These are the standards for Javascript

# This is special property that should be specified at the top of file.

root = true

# [] this is used for section or section name.
# We use [*] for each section.

[*]

# Set tab or space in the source code

indent_style = space

# Set size of space for indent

indent_size = 2




